.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__content {
    background-color: #fefefe;
    padding: 20px 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__close-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    padding: 2px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #000;
    transition: all 0.3s;
    &:hover {
      border: 2px solid #dc3545;
      color: #dc3545;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    margin: 0 0 8px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__label {
    font-size: 1rem;
    font-weight: 500;
    color: #555;
    text-align: left;
  }

  &__input {
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
  }

  &__button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1;

    &--save {
      background-color: #28a745;

      &:hover {
        background-color: #218838;
      }
    }

    &--cancel {
      background-color: #dc3545;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}
